*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#title{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2em;
    margin: 25px;
}

#responsive-navbar-nav{
    font-size: 20px;
    padding: 10px;
    color: black;
}

h2{
    text-align: center;
}
